#admin-layout {
  display: flex;
  padding-bottom: 1rem;
}
#admin-layout #sidebar {
  width: 280px;
  position: fixed;
  height: 100vh;
  background: #000;
  color: #fff;
}
#admin-layout #sidebar .logo-container {
  text-align: center;
}
#admin-layout #sidebar ul li a {
  width: 100%;
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
}
#admin-layout #sidebar ul li a:hover, 
#admin-layout #sidebar ul li a.active {
  background: var( --primary-color);
}
/* Admin */
#admin-layout #admin {
  width: calc(100% - 280px);
  margin-left: 280px;
}
#admin header #navbar #menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#admin header #navbar #menu-bar img{
  width: 25px;
  height: 25px;
}
.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#admin table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#admin td,  #admin th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
#admin tr:nth-child(even) {
  background-color: #dddddd;
}
#toggle-sidebar {
  transition: transform 0.5s;
  display: none;
  align-items: center;
  justify-content: center;
  width: 30px;
}
#toggle-sidebar.opened-btn {
  transform: translateX(272px);
  background: black;
  color: white;
  z-index: 1000;
  height: 67px;
}
@media only screen and (max-width: 992px) {
  #admin-layout #admin {
    width: 100%;
    margin-left: 0;
  }
  #admin-layout #sidebar {
    transform: translateX(-280px);
    transition: transform 0.5s;
    z-index: 2;
  }
  #admin-layout #sidebar.opened-sidebar {
    transform: translateX(0);
    z-index: 2;
  }
}
@media only screen and (max-width: 768px) {
  #toggle-sidebar {
    display: flex;
  }
}
