#connexion {
  padding-top: 2rem;
}
#connexion .connexion-container{
  max-width: 50%;
}
#connexion .tab {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
#connexion .tab > button {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ccc;
  border-bottom: none;
}
#connexion .tab > button:hover {
  background-color: #ddd;
}
#connexion .tab button.active {
  background-color: #ccc;
  color: #fff;
}
#connexion .tabcontent {
  display: none;
  padding: 0.25rem 0.75rem;
  border: 1px solid #ccc;
}

#connexion input, #connexion button {
  width: 100%;
  padding: 0.75rem;
}
#connexion button.btn-primary {
  margin-top: 10px;
}