#connexion {
  padding-top: 2rem;
}
#connexion .tabcontent {
  padding: 0.25rem 0.75rem;
  border: 1px solid #ccc;
}
#connexion .connexion-container{
  max-width: 50%;
}
#connexion input, #connexion button {
  width: 100%;
  padding: 0.75rem;
}
#connexion button.btn-primary {
  margin-top: 10px;
}