
/*-------------------------------------------------*/
/* Navbar */
#navbar {
  width: 100%;
}
#navbar > div > div.container {
  display: flex;
  justify-content: space-between;
}
#navbar > div > div.container > address, 
#navbar > div > div.container > ul {
  display: flex;
}
#navbar > #menu-bar {
  height: 66px;
}
#navbar > #menu-bar > div.container > ul, 
#navbar > #menu-bar > div.container > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar > #menu-bar > div.container > ul > li > a {
  font-weight: 600;
}
/*-------------------------------------------------*/
footer#footer {
  background: #000;
  color: #fff;
}
footer#footer ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
footer#footer ul li {
  text-align: left;
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
}
footer#footer ul li a {
  display: block;
  color: #fff;
}
footer#footer ul li a:hover {
  text-decoration: underline;
}
/*-------------------------------------------------*/
/* Home */
#home {
  background-image: url('https://i.pinimg.com/originals/b0/e6/d8/b0e6d8617c5767081de52b30aad26f7a.jpg');
  background-position: center;
  height: 350px;
  position: relative;
  margin-bottom: 100px;
}
#home #bloc-search-container {
  height: 100%;
}
#home #bloc-search-container #bloc-search {
  position: absolute;
  top: 270px;
  height: 160px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
#home #bloc-search-container #bloc-search, 
#home #bloc-search-container #bloc-search > #bloc-search-area > div:not(:first-child) {
  display: flex;
  align-items: center;
  width: 100%;
}
#home #bloc-search-container #bloc-search > #bloc-search-area {
  flex-grow: 7;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
#home #bloc-search-container #bloc-search > #bloc-search-zip {
  flex-grow: 3;
}
#home #bloc-search-container #bloc-search > #bloc-search-area,
#home #bloc-search-container #bloc-search > #bloc-search-zip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}
#home #bloc-search-container #bloc-search > #bloc-search-area > div > div.select-container {
  width: 100%;
}
#home #bloc-search-container #bloc-search > #bloc-search-area > div > div.select-container:nth-child(3n + 1) {
  padding-right: 0.5rem;
}
#home #bloc-search-container #bloc-search > #bloc-search-area > div > div.select-container:nth-child(3n + 2) {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
#home #bloc-search-container #bloc-search > #bloc-search-area > div > div.select-container:nth-child(3n) {
  padding-left: 0.5rem;
}
#home #bloc-search-container #bloc-search p {
  font-size: 1.2rem;
}

#home #bloc-search-container #bloc-search > #bloc-search-zip > div > input,
#home #bloc-search-container #bloc-search > #bloc-search-area > div > div.select-container > select {
  display: block;
  width: 100%;
  height: 2rem;
  border: 1px solid rgba(0,0,0,.25);
}

/* ------------------------------------------ */
#locations .locations-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
}
#locations .locations-container .locations-item:nth-child(4n + 1) {
  padding-left: 0;
}
#locations .locations-container .locations-item:nth-child(4n) {
  padding-right: 0;
}
#locations .locations-container .locations-item {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0.5rem
}
#locations .locations-container .locations-item > div {
  position: relative;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center;
}
#locations .locations-container .locations-item > div::after {
  content: "";
  background: #000000aa;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
}
#locations .locations-container .locations-item > div img{
  height: 100%;
  width: auto;
}
#locations .locations-container .locations-item > div p{
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  z-index: 2;
}
/* ------------------------------------------ */
#possibilities ul {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}
#possibilities ul li {
  text-align: center;
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
}
#possibilities ul li i {
  font-size: 3rem;
}
/* ------------------------------------------ */

@media only screen and (max-width: 1200px) {
  #locations .locations-container .locations-item {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }
  #locations .locations-container .locations-item:nth-child(4n + 1) {
    padding-left: 0.5rem;
  }
  #locations .locations-container .locations-item:nth-child(4n) {
    padding-right: 0.5rem;
  }
  #locations .locations-container .locations-item:nth-child(3n + 1) {
    padding-left: 0;
  }
  #locations .locations-container .locations-item:nth-child(3n) {
    padding-right: 0;
  }
}
@media only screen and (max-width: 992px) {
  #home {
    margin-bottom: 0;
  }
  #home #bloc-search-container #bloc-search {
    display: block;
    top: 0;
    border-left: none;
    height: 100%;
    border-bottom: 1px solid #fff;
  }
  #home #bloc-search-container #bloc-search > #bloc-search-area,
  #home #bloc-search-container #bloc-search > #bloc-search-zip {
    height:auto;
  }
  #locations .locations-container .locations-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  #locations .locations-container .locations-item:nth-child(3n + 1) {
    padding-left: 0.5rem;
  }
  #locations .locations-container .locations-item:nth-child(3n) {
    padding-right: 0.5rem;
  }
  #locations .locations-container .locations-item:nth-child(2n + 1) {
    padding-left: 0;
  }
  #locations .locations-container .locations-item:nth-child(2n) {
    padding-right: 0;
  }
  #possibilities ul {
    flex-direction: column;
    align-items: center;
  }
  #possibilities ul li {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
  footer#footer ul {
    flex-direction: column;
  }
  footer#footer ul li {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  footer#footer ul li:not(:first-child) {
    border-top: 1px solid #fff;
  }
  #connexion .connexion-container{
    max-width: 100%;
  }
  
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
  #home {
    height: 400px;
  }
  .d-md-none {
    display: none;
  }
  #home #bloc-search-container #bloc-search > #bloc-search-area > div {
    flex-direction: column;
  }
  #home #bloc-search-container #bloc-search > #bloc-search-area > div > div.select-container:nth-child(1n) {
    padding-right: 0;
    padding-left: 0;
  }
  #home #bloc-search-container #bloc-search > #bloc-search-area,
  #home #bloc-search-container #bloc-search > #bloc-search-zip {
    padding: 0;
  }
}
@media only screen and (max-width: 576px) {
  #locations .locations-container .locations-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #locations .locations-container .locations-item:nth-child(2n + 1) {
    padding-left: 0.5rem;
  }
  #locations .locations-container .locations-item:nth-child(2n) {
    padding-right: 0.5rem;
  }
  #locations .locations-container .locations-item:nth-child(n) {
    padding-left: 0;
    padding-right: 0;
  }
}