/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #5ba4df;
  --dark-color: #495057;
  --white-color: #fff;
  --gray-color: #ccc;
  --black-color: #000;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
/*-------------------------------------------------*/
/*main*/
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
main#default-layout {
  box-shadow: inset 0 2px 5px 0 rgb(0 0 0 / 11%);
  padding-bottom: 1rem;
  background: #f1f1f1;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3 {
  padding-bottom: 0.5rem;
}
h2 {
  font-size: 2rem;
}
p {
  margin: 0.25rem 0;
}
ul {
  list-style: none;
}
i {
  padding-right: 0.5rem;
}
section:not(:first-child) {
  margin-top: 2rem;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.d-none {
  display: none !important;
}
/* form */
/* form */
.form-container {
  max-width: 50%;
}

.form-container h4{
  margin-top: 1rem;
}
/*-------------------------------------------------*/
/* Utility classes*/
select {
  width: 100%;
  height: 2rem;
  border: 1px solid rgba(0,0,0,.25);
}
.position-relative {
  position: relative;
}
button {
  cursor: pointer;
}
.container {
  margin: auto;
  max-width: 1100px;
  position: relative;
}
.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-top: 1rem;
  padding: 0;
}
.alert > strong {
  display: block;
  padding: 0.5rem;
}
.error {
  color: red;
  margin-bottom: 0;
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 3px 0px;
  background-color: #fff;
}
.error span {
  display: block;
}
.text-primary {
  color: var(--primary-color);
}
.text-dark {
  color: var(--dark-color);
}
.text-white {
  color: var(--white-color);
}
.text-white:hover, .text-black:hover {
  color: var(--gray-color);
}
.text-gray {
  color: var(--gray-color);
}
.text-black {
  color: var(--black-color);
}
.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.px-4 {
  padding-left: 0;
  padding-right: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;

}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}
.mx-4 {
  margin-left: 0;
  margin-right: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.w-100 {
  width: 100%;
}
.border-red {
  border-color: red;
}
.bg-black {
  background-color: var(--black-color);
  color: var(--white-color);
}
.bg-white {
  background-color: var(--white-color);
  color: var(--black-color);
}

.btn-danger,
.btn-success,
.btn-primary,
.btn-light,
.btn-dark {
  display: inline-block;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}
.btn-primary, .btn-primary a {
  color: var(--white-color);
  background: var( --primary-color);
}

.btn-light {
  color: var(--black-color);
  background: var(--white-color);
}

.btn-dark {
  color: var(--white-color);
  background: var(--black-color);
}
.btn-success, .btn-success a {
  color: var(--white-color);
  background: var(--success-color);
}
.btn-danger {
  color: var(--white-color);
  background: var(--danger-color);
}
.invalid {
  border-color: red !important;
}
.float-right {
  float: right;
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* title */
.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
/* tabs */
.tab {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.tab > button {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ccc;
  border-bottom: none;
  width: 100%;
}
.tab > button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
  color: #fff;
}
.tabcontent {
  display: none;
  border-top: 1px solid #ccc;
}
@media only screen and (max-width: 992px) {
  .modal-content {
    margin: 15% auto;
  }
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}