/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #5ba4df;
  --dark-color: #495057;
  --white-color: #fff;
  --gray-color: #ccc;
  --black-color: #000;
}

/*-------------------------------------------------*/
/*main*/
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
main#default-layout {
  box-shadow: inset 0 2px 5px 0 rgb(0 0 0 / 11%);
  padding-bottom: 1rem;
  background: #f1f1f1;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3 {
  padding-bottom: 0.5rem;
}
h2 {
  font-size: 2rem;
}
p {
  margin: 0.25rem 0;
}
ul {
  list-style: none;
}
i {
  padding-right: 0.5rem;
}
section:not(:first-child) {
  margin-top: 2rem;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
/*-------------------------------------------------*/
/* Utility classes*/
button {
  cursor: pointer;
}
.container {
  margin: auto;
  max-width: 1100px;
  position: relative;
}
.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-top: 1rem;
  padding: 0;
}
.alert > strong {
  display: block;
  padding: 0.5rem;
}
.error {
  color: red;
}
.error span {
  display: block;
}
.text-primary {
  color: var(--primary-color);
}
.text-dark {
  color: var(--dark-color);
}
.text-white {
  color: var(--white-color);
}
.text-white:hover, .text-black:hover {
  color: var(--gray-color);
}
.text-gray {
  color: var(--gray-color);
}
.text-black {
  color: var(--black-color);
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.px-4 {
  padding-left: 0;
  padding-right: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;

}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;

}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

}
.w-100 {
  width: 100%;
}
.border-red {
  border-color: red;
}
.bg-black {
  background-color: var(--black-color);
  color: var(--white-color);
}
.bg-white {
  background-color: var(--white-color);
  color: var(--black-color);
}

.btn-primary,
.btn-light,
.btn-dark {
    display: inline-block;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}
.btn-primary {
  color:  var(--white-color);
  background: var( --primary-color);
}

.btn-light {
  color:  var(--black-color);
  background:  var(--white-color);
}

.btn-dark {
  color:  var(--white-color);
  background:  var(--black-color);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .avatar-container {
  border-radius: 0.5rem;
}
.dropdown .dropdown-content ul li:hover,
.dropdown .avatar-container:hover {
  background: #eee;
  cursor: pointer;
}

